$primaryColor : #dec189;

.header-container{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    position: sticky ;
    position: -webkit-sticky;
    background-color: #FFFFFF;
    padding: 10px;
    top: 0; /* required */
    z-index: 1000;
    .search{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 2px solid $primaryColor;
        width: 60%;
        height: auto;
        border-radius: 4px;
        input{
            width: 90%;
            outline: none;
            border: none;
        }
        .search-btn{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $primaryColor;
            width: 10%;
            height: 100%;
            padding: 12px;
            cursor: pointer;
        }
    }
    .auth{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        .btn-auth{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 8px 20px;
            background-color: $primaryColor;
            color: #FFF;
            border-radius: 6px;
            cursor: pointer;
        }
        .btn-auth:hover{
            background-color: #e3d3c0;
        }
        .cart{
            color: $primaryColor;
            font-size: 42px;
            cursor: pointer;
        }
    }
}